[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DBModelSelect"]
	path = DBModelSelect
	url = https://github.com/shkoeneman/dbmodelselect
